
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.nav {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
    width: 80%; 
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.25); 
    backdrop-filter: blur(12px);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15); 

}



.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.7);
    cursor: pointer;
    transition: 0.3s;
}

.profile img:hover {
    transform: scale(1.1);
}


.nav .logo {
    font-size: 22px;
    font-weight: 700;
    color: #2E5E3A;
}

.logo img {
    width: 120px; 
    height: auto;
    object-fit: contain;
}

.menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav .menu a {
    text-decoration: none;
    color: #1F3D2B;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav .menu a:hover {
    color: #2E5E3A;
    transform: scale(1.15); 
}


.hero {
    height: 85vh;
    width: 100%;
    background-image: url('Traingobackgroundfinal.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 25%;
    left: 17%;
    color: #1F3D2B;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 25px;
    margin-bottom: 10px;
}

.booking-section {
    width: 100%;
    background: #D8D6B8; 
    display: flex;
    justify-content: center;
    padding-top: 100px; 
    padding-bottom: 60px;
    border-top-left-radius: 50% 50px;
    border-top-right-radius: 50% 50px;
    margin-top: -40px; 
    position: relative;
    z-index: 4;

    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

.booking-card {
    background: #fff;
    width: 70%;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-top: -160px;
    position: relative;
    z-index: 5;
}

.booking-card .form-group {
    display: flex;
    flex-direction: column;
}

.booking-card label {
    font-size: 14px;
    color: #47594A;
    margin-bottom: 5px;
}

.booking-card input {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #A5B29D;
    outline: none;
}

.search-btn {
    grid-column: span 2;
    background: #2E5E3A;
    color: #fff;
    padding: 13px 0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.search-btn:hover {
    background: #254C2E;
}

.footer {
    background: #D8D6B8;
    padding: 50px 20px;
    text-align: center;
    margin-top: 40px;
}

.footer-logo {
    width: 100px;
    margin-bottom: 12px;
}

.footer-content p {
    color: #1F3D2B;
    font-size: 15px;
    margin: 8px 0;
}

.footer-links a {
    text-decoration: none;
    color: #1F3D2B;
    font-size: 15px;
    margin:  12px;
    transition: 0.3s ease;
    font-weight: 600;
}

.footer-links a:hover {
    color: #2E5E3A;
    transform: scale(1.1);
}

.footer .copyright {
    margin-top: 15px;
    font-size: 14px;
    opacity: 0.8;
}



@media(max-width: 768px){
    .booking-card {
        grid-template-columns: 1fr;
        width: 95%;
    }
}
